:host {
  display: block;
  height: 100vh;
}

.app-layout {
  display: grid;
  grid-template-columns: 240px minmax(0, 1fr);
  min-height: calc(100vh - 64px);
}

.app-content {
  padding: 32px;
  background: #f6f7f9;
}
