<nav class="side-nav">
  <a
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
    Dashboard
  </a>

  <a routerLink="/books" routerLinkActive="active">
    Books
  </a>

  <a routerLink="/series" routerLinkActive="active">
    Series
  </a>

  <a routerLink="/wishlist" routerLinkActive="active">
    Wishlist
  </a>

  <a routerLink="/statistics" routerLinkActive="active">
    Statistics
  </a>

  <div class="spacer"></div>

  <a routerLink="/settings" routerLinkActive="active">
    Settings
  </a>
</nav>
